<div class="introClass">
  <div class="row">
    <div class="col-sm-4">
      <!-- <div style="padding:6%">
        <h5><b>About Us</b></h5>
        <hr style="background-color:#ffffff;">
       <p>Assuring accuracy and quality of products we even bare a great heritage of over <b>50 years of experience</b>, and now are proud holders of <b>ISO 9001:2015, ISO 14001:2015</b> and <b>OHSAS 18001:2007</b> certifications. Having this versatility and maintaining the make in India initiative, Accurate is also one of the leading exporters of springs worldwide.So, release your tensions, our springs carry them.</p>
      </div> -->
      <img style="width:80%;margin-top: 14%;margin-left:6%" src="assets/Images/makeinindia.png">
    </div>
    <div class="col-sm-4">
      <div style="padding:6%">
        <h5><b>How To Reach Us</b></h5>
        <hr style="background-color:#ffffff;">
        <div class="row">
          <!-- <div class="col-2">
            <img src="https://img.icons8.com/clouds/100/000000/worldwide-location.png" style="width:100%"/>
          </div> -->
          <div class="col-12">
            <p>Thank you for your interest in ASHA SPRINGS
              For your enquiries please fill up the below enquiry form and we will contact you shortly 
              Or feel free to contact us on below mentioned phone numbers and email ids
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <img src="https://img.icons8.com/clouds/100/000000/phone.png" style="width:100%"/>
          </div>
          <div class="col-10">
            <p>+91-8898487556/9821074837</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <img src="https://img.icons8.com/clouds/100/000000/apple-mail.png" style="width:100%"/>
          </div>
          <div class="col-10">
            <p>sales.ashasprings@gmail.com/ajayuppal@ymail.com</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <button class="btn btn-warning" style="margin-top:10px;font-weight: bold;" (click)="getInTouch()">Get In Touch</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div style="padding:6%">
        <h5><b>Our Location</b></h5>
        <hr style="background-color:#ffffff;">
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60267.33035770651!2d72.99451957910158!3d19.251547200000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7bc3064a108bd%3A0x334681ef87b8f2f6!2sAsha%20Springs%20-%20Spring%20Manufacturer%20in%20Bhiwandi%2C%20Thane%2C%20Rectangular%20Springs%2C%20Torsion%20Springs%20Mumbai!5e0!3m2!1sen!2sin!4v1613656575874!5m2!1sen!2sin"
        width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <!-- <div><div class="gmap_canvas"><iframe id="gmap_canvas" src="https://maps.google.com/maps?q=asha%20springs&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">embedded google map</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}</style></div></div> -->
      </div>
    </div>
  </div>
</div>
