
<div>
  <div style="display:block;padding:10px;">
      <!-- <h5 class="animate__animated animate__fadeInLeft">HERE IS WHAT WE DO</h5> -->
      <div>
        <hr style="background-color:#f99831;height:1px;width:98%">
      </div>
      <h3 style="color:#f99831;text-align: center;">Countries We Export To</h3>
      <div>
        <hr style="background-color:#f99831;height:1px;width:98%">
      </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div style="padding:1%">
        <div style="padding:1%;border:2px solid #f99831">
          <img src="assets/Images/amCharts.png" style="width:100%;height:100%;" alt="Map">
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div style="padding:1%">
        <p>With our  extensive knowledge in the spring industry we not only supply springs in the country but are also an exporter of springs. We have our client base in Germany, Singapore ,Indonesia ,oman and other countries as well. We believe in delivering timely excellence and we will happly export our springs to any part of the world.</p>
      </div>
    </div>
  </div>
</div>
