<div>
  <div style="display:block;padding-bottom:2%;padding:10px;">
      <!-- <h5 class="animate__animated animate__fadeInLeft">HERE IS WHAT WE DO</h5> -->
      <div>
        <hr style="background-color:#f99831;height:1px;width:98%">
      </div>
      <h3 style="color:#f99831;text-align: center;">Who We Are.</h3>
      <div>
        <hr style="background-color:#f99831;height:1px;width:98%">
      </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div style="padding:1%">
       <p>We at ASHA SPRINGS have a unique manufacturing team with our ability to serve our customers across a wide range of applications as a single source supplier.
        <strong>We have been coiling springs for now over 40 years as a custom spring manufacturer.</strong> Our inventory now possess state of the art cnc coiling machines that handle a wide range of wire sizes and application
        We offer dedicated services to our customers such as prototyping a design, producing a small batch of springs as a sample to test before manufacturing big quantity. We apply various cost effective measures to reduce the manufacturing cost of the springs so as to give our customers  the market bending rates and industry defining quality.
        We at ASHA SPRINGS are eager and willing to work with you on your spring and wire products requirement. 
        </p>
      </div>
    </div>
    <div class="col-sm-5">
      <div style="padding:1%">
        <img src="assets/Images/img_dashboard.jpg">
      </div>
    </div>
  </div>
</div>
